@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    color: #fff;
}

main {
    background-color: #0a0519;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#header {
    display: flex;
    width: 235px;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}
#scoreboard {
    display: flex;
    padding: 12px;
    flex-direction: column;
    gap: 2px;
    width: 300px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #17122a;
    border-radius: 10px;
}
#scoreboard p{
    color:white;
    text-align: center;
    font-size: 25px;
}
.playerImg{
    width: 40px;
    border-radius: 50%;
    border: 1px solid #403570;
}
.scoreRating{
    display: flex;
    gap: 8px;
}

.playerBox{
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid #403570;
    border-radius: 10px;
}
.draws{
    background-color: #2a2343;
    padding: 15px 0;
    font-size: 11px;
    width: 50px;
    border-radius: 50%;
}
.score {
    text-align: center;
    flex: 1;
    margin-top: 10px;
}
.text{
    font-size: 12px;
}
.hidden {
    display: none;
}
.name-input {
    border: none;
    outline: none;
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 4px; 
    width: 40px; 
    transition: all 0.3s ease;
    color: #17122a;
}

#name-input:focus {
    border-color: #0056b3; /* Highlighted underline on focus */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for focus */
}
.text i{
    font-size: 9px;
    margin-left: 3px;
}
.X {
    display: flex;
    flex-direction: column;
}

.O {
    color: #a737ff; 
}
.player {
    background-color: #17122a;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    border: 4px solid #17122a;
    opacity: .5;
    transition: .3s;
}

.player:hover {
    border: 4px solid #2a2343;
}

.player-active {
    opacity: 1;
    border: 4px solid #2a2343;
}

#xPlayerDisplay {
    color: #1892ea;
}

#oPlayerDisplay {
    color: #a737ff;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    gap: 12px;
}

#board .cell {
    background-color: #17122a;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s background;
}

#board .cell:hover {
    background-color: #2a2343;
}

#newroundBtn {
    margin-top: 30px;
    width: 235px;
    background-color: #17122a;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: .3s background;
    visibility: hidden;
}

#newroundBtn:hover {
    background-color: #2a2343;
}